body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-size: 14px !important;
  overflow-x: hidden;
  line-height: 24px;
  padding-top: 70px;
  
  background:linear-gradient(#fe0,#f30) fixed;
}

a[class="item_nombre hvr-overline-from-center"] 
{ 
 
  	font-weight: bold;
    /*color: #014ca2 !important;*/
    color: #002852;
    font-size: 15px !important;
    padding-top: 3px;
        letter-spacing: 0.5px;
}



a:hover[class="item_nombre hvr-overline-from-center"] 
{ 
  
	 

}

a{
	text-decoration: none !important;
}

.img_header
{
  width: inherit !important;
  /*height: 392px !important;*/
}

.foto_investigacion{
  height: 150px !important;
  width: -webkit-fill-available;
}

.row_resultado
{
        background-color: #0025502e;
    font-size: 18px;
    color: #002651;
    padding: 10px !important;
}

a:hover[class="link_menu"] 
{ 
  background-color: #068aba24 !important ;

}


a.link_menu:hover
{ 
  background-color: red;

}

.img_convenio
{ 
  /*
  -webkit-filter: grayscale(1);
  filter: grayscale(1);*/

}

.icon_red_social
{ 
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 10px 15px;

}

#logo{ 
width: 150px !important;
padding-top: 10px;
}


.row_listado
{
  padding-bottom: 10px;
}

.equipo
{
      font-size: 18px;
}

a.link_menu.active  
{
    border-bottom: 2px solid #088bbb;
    background-color: #80808021;
}

.row_listado
{
    padding-top: 20px;
}

a[class="link_seccion"] 
{ 
  color: #000 ;

}

.carousel-indicators
{
  bottom: 10px;
  /*top:10px;*/
}


.titulo_investigaciones
{
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
      display: inline-block;
    vertical-align: middle;
}

.icono_investigaciones
{
    /*background-color: red;*/
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8080801a;
    background-color: #b5abab36;
    width: 70px;
    text-align: center;
}

#subtitulo_proyecto
{
  font-size: 18px; 
}


.img-thumbnail{
  width: -webkit-fill-available !important;
}


@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

 @media (min-width: 768px) {
    .navbar-right {
        margin-top: -60px;
    }


}

@media (max-width: 1200px) {


    #div_redes{
      display: none !important;
      visibility: hidden;
    }


}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
   margin-right: 0px; 
   margin-left: 0px;  
}